<h1 
style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color:cornflowerblue; padding: 15px; border: 2px solid black; border-radius: 25px">
Este es el listado de productos
</h1>
{{#each productos}}
  <ul style="background-color: brown; 
  padding: 10px; color: white;">
    <li>{{this.title}}</li>
    <li>{{this.description}}</li>
    <li>{{this.price}}</li>
    <li>{{this.stock}}</li>
    <li>{{this.category}}</li>
    <li>{{this.code}}</li>  
  </ul>
{{/each}}